<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.eunbi.springtest.pension.repository.PensionRepository">

    <select id="bookedList"
            resultType="com.eunbi.springtest.pension.domain.Booking">
        SELECT
            `id`
        ,`name`
        ,`headcount`
        ,`day`
        ,`date`
        ,`phone_number`
        , `state`
        ,`created_at`
        ,`updated_at`
        FROM
            `booking`
    </select>

    <insert id="insertBookingList" parameterType="map">
        INSERT INTO
        `booking`
        (
         `name`
        ,`headcount`
        ,`day`
        ,`date`
        ,`phone_number`
        )
        VALUE
        (
            #{name},
            #{headCount},
            #{day},
            #{date},
            #{phoneNumber}
        )
    </insert>
</mapper>