<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.eunbi.springtest.mvc.SellerRepository">
    <select id="selectSellerInfo" parameterType="com.eunbi.springtest.mvc.Seller">
        SELECT
            `id`
        ,`nickname`
        ,`temperature`
        ,`profile_image`
        ,`created_at`
        ,`updated_at`
        FROM
            `seller`
        ORDER BY
            `id` DESC
        LIMIT 1
    </select>
</mapper>