<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>즐겨찾기 목록</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
</head>
<body>

<div class="container">
    <h2>즐겨찾기 목록</h2>
    <table class="table">
        <thead>
        <tr>
            <th>No.</th>
            <th>이름</th>
            <th>주소</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="favorite:${favoriteList}">
            <td th:text="${favorite.id}">219</td>
            <td th:text="${favorite.name}">유튜브</td>
            <td th:text="${favorite.url}">https://youtube.com</td>
            <td><button type="button" class="btn btn-danger btn-sm remove-btn" th:data-favorite-id="${favorite.id}">삭제</button></td>
        </tr>
        </tbody>
    </table>
</div>

<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
<script>
    $(".remove-btn").on("click", function () {
        let id = $(this).data("favorite-id");

        $.ajax({
            type:"get"
            , url:"/ajax/favorites/remove"
            , data:{"id":id}
            , success:function (response) {
                if(response.result == "success") {
                    location.reload();
                } else {
                    alert("삭제 실패!");
                }
            }
            , error() {
                alert("삭제에러")
            }
        })

    })
</script>

</body>
</html>