<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>즐겨찾기 추가하기</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
</head>
<body>
    <h2>즐겨 찾기 추가하기</h2>
    <label>제목</label><input type="text" class="form-control">
    <label>주소</label><input type="text" class="form-control">
    <button type="button" class="btn btn-success">추가</button>
</body>
</html>