<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>예약 목록 보기</title>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.14.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href="/pension/css/style.css">
</head>
<body>
<div id="wrap">
    <header class="d-flex justify-content-center align-items-center">
        <div class="display-4">통나무 펜션</div>
    </header>
    <nav class="main-menu">
        <ul class="nav nav-fill font-weight-bold">
            <li class="nav-item"><a href="#" class="nav-link text-white">펜션소개</a></li>
            <li class="nav-item"><a href="#" class="nav-link text-white">객실보기</a></li>
            <li class="nav-item"><a href="#" class="nav-link text-white">예약안내</a></li>
            <li class="nav-item"><a href="#" class="nav-link text-white">커뮤니티</a></li>
        </ul>
    </nav>
    <section class="contents">
        <div class="mt-4 mb-4 text-center display-4 font-weight-bold">예약 목록 보기</div>
        <table class="table text-center">
            <thead>
                <tr>
                    <th>이름</th>
                    <th>예약날짜</th>s
                    <th>숙박일수</th>
                    <th>숙박인원</th>
                    <th>전화번호</th>
                    <th>예약상태</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="booked:${bookingList}">
                    <td th:text="${booked.name}">김인규</td>
                    <td th:text="${#temporals.format(booked.date, 'yyyy년 M월 d일')}">2025년 12월 25일</td>
                    <td th:text="${booked.day}">4</td>
                    <td th:text="${booked.headCount}">5</td>
                    <td th:text="${booked.phoneNumber}">010-1234-567</td>
                    <td>
                        <span th:if="${#strings.startsWith(booked.state, '대기중')}" th:text="${booked.state}" class="text-info"></span>
                        <span th:if="${#strings.startsWith(booked.state, '확정')}" th:text="${booked.state}" class="text-success"></span>
                    </td>
                    <td><button type="button" th:data-booked-id="${booked.id}" class="btn btn-danger deleteBtn">삭제</button></td>
                </tr>
            </tbody>
        </table>

    </section>
    <footer class="mt-3">
        <div class="small text-secondary">
            제주특별자치도 제주시 애월읍  <br>
            사업자등록번호: 111-22-255222 / 농어촌민박사업자지정 / 대표:김통목 <br>
            Copyright 2025 tongnamu All right reserved
        </div>
    </footer>
</div>

<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
<script>
    $(".deleteBtn").on("click", function() {

        let id = $(this).data("booked-id");

        $.ajax({
            type:"get"
            , url:"/pension/remove"
            , data:{"id":id}
            , success:function(response) {
                // {"result":"success"}
                // {"result":"fail"}
                if(response.result == "success") {
                    location.reload();
                } else {
                    alert("삭제 실패");
                }

            }
            , error:function() {
                alert("에러 발생");
            }

        });


    });
</script>

</body>
</html>